page-login {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b577b+1,341a4a+100 */
        background: #1b577b;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #1b577b 1%, #341a4a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #1b577b 1%, #341a4a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #1b577b 1%, #341a4a 100%);
    }
    img {
        width: 150px;
    }
    h3 {
        color: white;
    }
    .top-20 {
        margin-top: 20%;
    }
    .top-5 {
        margin-top: 5%;
    }
}